<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Summary</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Admin Summary</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ bar_chart_url }}" class="img-fluid" alt="Top Scorers">
            </div>
            <div class="col-md-6">
                <img src="{{ pie_chart_url }}" class="img-fluid" alt="Subjects Attempted">
            </div>
        </div>
    </div>
</body>
</html>