<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="text-center text-primary fw-bold">Scores</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Quiz ID</th>
                    <th>Quiz Name</th>
                    <th>Score</th>
                    <th>Max Score</th>
                    <th>Time Taken</th>
                    <th>Feedback</th>
                    <th>Hello</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td>{{ score.quiz.id }}</td>
                    <td>{{ score.quiz.name }}</td>
                    <td>{{ score.total_score }}</td>
                    <td>{{ score.quiz.max_score }}</td>
                    <td>{{ score.time_taken }}</td>
                    <td>{{score.feedback}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>


